go 1.21.5

use (
	./arrays
	./closures
	./constants
	./for
	./functions
	./hello
	./if_else
	./maps
	./multiple_return_values
	./pointers
	./range
	./recursion
	./slices
	./strings_runes
	./switch
	./values
	./variables
	./variadic_func
)
