go 1.21.5

use (
	./arrays
	./channel_buffering
	./channel_directions
	./channel_sinchronization
	./channels
	./closing_channels
	./closures
	./constants
	./errors
	./for
	./functions
	./generics
	./goroutines
	./hello
	./if_else
	./interfaces
	./maps
	./methods
	./multiple_return_values
	./non_blocking
	./pointers
	./range
	./recursion
	./select
	./slices
	./strings_runes
	./struct_embedding
	./structs
	./switch
	./timeouts
	./values
	./variables
	./variadic_func
)
